:root {
  --main-bg-color: #31363b;
  --main-txt-color: #e9ecef;
  --dark-bg-color: #212529;
  --border-color: #4b5056;
  --link-hover-color: #6ab0f3;
}

* {
  box-sizing: border-box;
  color: var(--main-txt-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  font-family: "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: 1rem;
}

h2,
h3 {
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p,
span {
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  display: block;
}

a:hover {
  color: var(--link-hover-color);
}
